body{
    background-color: rgb(255, 255, 255);
}

.container{
    width: 90vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 20%;
    height: 400px;
    background-color:turquoise;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px grey;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    transition: all 1.0s ease;
    cursor: pointer;
    box-shadow: 5px 5px 15px gray;

    
}

.card img{
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.Title{
    font-size: 40px;
    font-style: Caveat Brush;
    background-color: aliceblue;
    text-align: center;
    width: 500px;
    margin: 25px auto;
    border-radius: 15px;
}
.box{
    font-size: 40px;
    width: 20%;
    height: 400px;
    background-color:turquoise;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: black;
    margin: auto; 
}
.Brands{
    font-size: 20px;
    font-family: Caveat Brush;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin: auto;
}
.Cart{
    font-size: 40px;
    width: 20%;
    background-color:turquoise;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: black;
    margin: auto; 
}
.Total{
    font-size: 40px;
    width: 20%;
    background-color:lightblue;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: black;
    margin: auto; 
}

@media screen and (max-width:800px) {
    .container{
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}