body{
    background-color: white;
}

.container{
    width: 90vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    height: 400px;
    background-color:turquoise;
    margin:  25px 0;
    font-size: 20px;
    font-family: Work Sans;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px grey;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    transition: all 1.0s ease;
    cursor: pointer;
    box-shadow: 5px 5px 15px gray;

    
}

.card img{
    max-width: 150px;
    max-height: 200px;
    object-fit: cover;
}

.Title{
    font-size: 40px;
    font-style: Work Sans;
    background-color: aliceblue;
    text-align: center;
    width: 500px;
    margin: 25px auto;
    border-radius: 15px;
}
@media screen and (max-width:800px) {
    .container{
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}
